# Markdown
## Markdown
### Markdown

# insert site address
[site](https://www.google.com/search?q=gitam+parent+portal&oq=gitam+parent&aqs=chrome.0.69i59j69i57j0l2j69i60l3.19096j1j8&sourceid=chrome&ie=UTF-8)

# insert image address
![text](https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRa7q8XhBB5inHO3kZa7CMM3NLEnAiVmgxTChTdxorZeVPQRRPu)

# Python Basics:
python is a begginers language

python is easy to learn

# Creating ordered list:
1.abc

2.hsdg 

     1.a
     2.b

# Creating unorderd list:
- hij

- lok
    
    - s
    - p

# BOLD and italic text:
**GITAM**
*GITAM*

In [1]:
# Basic hello
print("Hello World!!")

Hello World!!

In [2]:
#variable creation
x=50
y=50
x+y

100

# Rules for variable

- name should begin with a character
- no special charater allowed except_

In [3]:
name ="sravani"
age = 20
print("my name is:",name,"age is:",age)

my name is: sravani age is: 20

In [4]:
name =input("enter name")
age =int(input("enter age"))
print("my name is:",name,"age is:",age)

enter namesravani
enter age20
my name is: sravani age is: 20

In [5]:
x =10
y =5
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)

15
5
50
2.0
0

In [6]:
x =int(input("enter a number"))
y =int(input("enter a number"))
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)

enter a number20
enter a number5
25
15
100
4.0
0

# fundamental datatypes
- int
- float
- complex
- boolean
- string

In [7]:
x =10
y =12.32
z =4+5j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [8]:
c=complex(4,5)
print(c)

(4+5j)

In [9]:
c1 =4+5j
c2 =6+8j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(10+13j)
(-2-3j)
(-16+62j)

In [12]:
a = True
b = False
a < b

False

In [13]:
# boolean
x = 5
y = 10
x < y

True

In [14]:
# string
s1 = "abc"
s2 = "efg"
print(type(s1),type(s2))

<class 'str'> <class 'str'>

In [15]:
i = 100
print(type(i))
s1 = str(i)
print(type(s1))
f1 = float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [16]:
# length
a = 1234
print(len(str(a)))

4

In [17]:
n1 = 100 #single variable assignment
a = b = c = 20 #multiple variable assignment
a1,b1,c1 = 123,456,789
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
123 456 789

# precedence of the arth operators
- paranthesis
- power
- multiplication
- addition

In [18]:
x = 1 + 2 ** 3 / 4 + 5
print(x)

8.0

In [20]:
x = 1 + 2 ** 3 / 4 * 5
print(x)

11.0

In [21]:
x = 4 + 5 **2 +(3+5)
print(x)

37

# Operators
## Arithematic operators
- +
- -
- *
- /
- %
- **
- //

In [22]:
x = 10
y = 20
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x**y)
print(x//y)

30
-10
200
0.5
10
100000000000000000000
0

# Relational operators
- ==,!=,<,>,<=,>=

In [23]:
x = 5
a = x<10
print(a)

True

# Logical operators
- and
- or
- not

In [27]:
i = 100
a1 = (i > 15) and (i > 76)
a2 = (i > 123) and (i > 345)
print(a1)
print(a2)
print(not i)

True
False
False

# Membership operator
- in
- not in

In [28]:
str1 = "abc"
print('a' in str1)
print('a' not in str1)

True
False

# Control flow statements
- conditional statements
- looping statements
- -if -else statements
  - syntax
##### if condition:
> statements<br>
##### elif:
> statements<br>
##### else:
> statements

In [29]:
# check given number is even or odd
n = int(input("enter a number"))
if n%2==0:
    print("even")
else:
    print("odd")

enter a number53
odd

In [33]:
# check given number is perfectly multiples of 3 and 5
n = int(input("enter a number"))
if n%3==0 and n%5==0:
    print("multiple")
else:
    print("not a multiple")

enter a number16
not a multiple

In [35]:
# check given number is positive,negative or zero
n = int(input("enter a number"))
if n>0:
    print("positive")
elif n<0:
    print("negative")
else:
    print("zero")

enter a number12
positive

In [ ]:
# check input year is leap year or not